{% extends 'base.html' %}

{% block content %}

    <div class="pomodoro mb-5 mt-5"
    style="box-shadow: 0 7px 8px 0 rgba(0,0,0,0.8), 0 10px 10px 0 rgba(0,0,0,0.8); margin-top: 10px;margin: 10px;">
    <h3 class="text-center mt-5">About Pomodoro App</h3>
    <hr>
    <h4 class="text-center mb-5 mt-5 pt-3 pb-5">Pomodoro App is an awesome platform used in offices by workaholics. Once you login,you will be able to set time to work and time to be on break and you can also see the work session you've completed.</h4>
     
</div>

{% endblock %}